In [1]:
import pandas as pd
import numpy as np

In [41]:
restaurants = pd.read_csv('DOHMH - Restaurant Inspections - deduped.csv')
restaurants.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,30075445,MORRIS PARK BAKE SHOP,Bronx,1007,MORRIS PARK AVE,10462.0,7188924968,Bakery,2019-06-11,Violations were cited in the following area(s).,...,2019-09-25,Cycle Inspection / Re-inspection,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37
1,30112340,WENDY'S,Brooklyn,469,FLATBUSH AVENUE,11225.0,7182875005,Hamburgers,2019-03-04,Violations were cited in the following area(s).,...,2019-09-25,Cycle Inspection / Initial Inspection,40.662652,-73.962081,309.0,40.0,32700.0,3029737.0,3.011970e+09,BK60
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,Manhattan,351,WEST 57 STREET,10019.0,2122452912,Irish,2019-06-06,Violations were cited in the following area(s).,...,2019-09-25,Cycle Inspection / Initial Inspection,40.767326,-73.984310,104.0,3.0,13900.0,1026048.0,1.010480e+09,MN15
3,40356018,RIVIERA CATERERS,Brooklyn,2780,STILLWELL AVENUE,11224.0,7183723031,American,2018-10-30,Violations were cited in the following area(s).,...,2019-09-25,Cycle Inspection / Initial Inspection,40.579920,-73.982090,313.0,47.0,34800.0,3347399.0,3.069970e+09,BK21
4,40356151,BRUNOS ON THE BOULEVARD,Queens,8825,ASTORIA BOULEVARD,11369.0,7183350505,American,2018-10-06,Violations were cited in the following area(s).,...,2019-09-25,Cycle Inspection / Initial Inspection,40.763971,-73.880973,403.0,22.0,32900.0,4024132.0,4.011000e+09,QN28

In [42]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26877 entries, 0 to 26876
Data columns (total 26 columns):
CAMIS                    26877 non-null int64
DBA                      26298 non-null object
BORO                     26877 non-null object
BUILDING                 26834 non-null object
STREET                   26861 non-null object
ZIPCODE                  26457 non-null float64
PHONE                    26874 non-null object
CUISINE DESCRIPTION      26877 non-null object
INSPECTION DATE          26877 non-null object
ACTION                   25567 non-null object
VIOLATION CODE           25183 non-null object
VIOLATION DESCRIPTION    24913 non-null object
CRITICAL FLAG            24913 non-null object
SCORE                    24962 non-null float64
GRADE                    22942 non-null object
GRADE DATE               22501 non-null object
RECORD DATE              26877 non-null object
INSPECTION TYPE          25567 non-null object
Latitude                 26809 non-null float64
Longitude                26809 non-null float64
Community Board          26404 non-null float64
Council District         26404 non-null float64
Census Tract             26404 non-null float64
BIN                      26265 non-null float64
BBL                      26809 non-null float64
NTA                      26404 non-null object
dtypes: float64(9), int64(1), object(16)
memory usage: 5.3+ MB

### Top Fast Food Chains (top 5)

https://www.qsrmagazine.com/content/ranking-top-50-fast-food-chains-america

1. McDonald's
2. Starbucks
3. Subway
4. Taco Bell
5. Chick-Fil-A
6. Wendy's
7. Burger King

##### McDonald's

In [52]:
McDonalds = restaurants[restaurants['DBA'].str.contains('MCD', na = False)]
McDonalds['DBA'].unique()

array(["MCDONALD'S", 'MCDONALD AVENUE DINER', "MCDERMOTT'S PUB",
       'MCDONALDS', 'MCDONALDS RESTAURANT', "MCDONALD'S RESTAURANT",
       'MCDONALD', "MCDONALD'S #3880", "MCDONALD'S #11542",
       "MCDONALD'S #13068", "MCDONALD'S #23105", 'MCDONALDS # 6160',
       'MCDONALDS # 18093', 'MCDONALDS 14520', "MCDONALD'S CORPORATION",
       "MCDONALD'S RESTAURANTS OF NEW YORK INC"], dtype=object)

In [56]:
print("McDonald's count: ", McDonalds['DBA'].count())

McDonald's count:  208

##### Starbucks

In [54]:
starbucks = restaurants[restaurants['DBA'].str.contains('STARBUCKS', na = False)]
# starbucks.head()
starbucks['DBA'].unique()

array(['STARBUCKS', 'STARBUCKS COFFEE', 'STARBUCKS #847',
       'STARBUCKS COFFEE #7358', 'STARBUCKS (#07353)',
       'STARBUCKS COFFEE # 7851', 'STARBUCKS #7860',
       'BEDFORD COFFEE COMPANY/STARBUCKS', 'STARBUCKS COFFEE # 26528',
       'STARBUCKS COFFEE COMPANY #22716',
       'STARBUCKS COFFEE COMPANY #25533', 'STARBUCKS COFFEE #23591',
       'STARBUCKS COFFEE #22596', 'STARBUCKS COFFEE #26188',
       'STARBUCKS # 24485', 'STARBUCKS COFFEE COMPANY', 'JPMC/STARBUCKS',
       'STARBUCKS COFFEE #29856', 'STARBUCKS COFFEE COMPANY #29897',
       'STARBUCKS COFFEE COMPANY #48116', 'STARBUCKS COFFEE #852',
       'STARBUCKS COFFEE #48340', 'STARBUCKS COFFEE #48170',
       'STARBUCKS 379 DEKALB(DESIGN CENTER)', 'STARBUCKS COFFEE #28171',
       'STARBUCKS (Store #50483)', 'STARBUCKS COFFEE #49952',
       'STARBUCKS #50611', 'STARBUCKS COFFEE # 49196', 'STARBUCKS #48990',
       'STARBUCKS COFFEE #49550', 'STARBUCKS (Fordham University)',
       'STARBUCKS COFFEE #50622', "VICTORIA'S SECRET / STARBUCKS",
       'STARBUCKS COFFEE #29719', 'STARBUCKS COFFEE #53473',
       'DISNEY STARBUCKS', 'STARBUCKS COFFEE #49450', 'STARBUCKS #54446',
       'STARBUCKS COFFEE #823', 'STARBUCKS COFFE #55085',
       'THREE EIGHTY ATE, STARBUCKS', 'STARBUCKS COFFEE # 54771',
       'STARBUCKS COFFEE COMPANY #29854', 'STARBUCKS COFFEE #52530',
       'STARBUCKS COFFEE #56450', 'STARBUCKS TAXI',
       'STARBUCKS COFFEE #58310', 'STARBUCKS CORPORATION',
       'STARBUCKS COFFE #57601', 'STARBUCKS COFFEE #47753',
       'STARBUCKS COFFEE #56451', 'STARBUCKS COFFEE #57774',
       'STARBUCKS COFFEE #57154', 'STARBUCKS COFFEE # 57601'],
      dtype=object)

In [57]:
print("Starbucks count: ", starbucks['DBA'].count())

Starbucks count:  353

##### Subway

In [61]:
subway = restaurants[restaurants['DBA'].str.contains('SUBWAY', na = False)]
subway['DBA'].unique()

array(["DUNKIN', SUBWAY", 'SUBWAY', "DUNKIN', BASKIN ROBBINS, SUBWAY",
       'SUBWAY, PIZZA & BURGER UR WAY', 'SUBWAY (+ STAR MINI MART)',
       'SUBWAY, CARVEL', "SUBWAY/NATHAN'S FAMOUS", 'SUBWAY CAFE',
       'SUBWAY INN', 'SUBWAY & CARVEL', 'SUBWAY SANDWICHES',
       'SUBWAY #47857', 'SUBWAY RESTAURANT', 'SUBWAYS', 'SUBWAY (#29887)',
       'SUBWAY STORE #30214', 'SUBWAY AND JUICE', 'SUBWAY # 30658'],
      dtype=object)

In [62]:
print("Subway count: ", subway['DBA'].count())

Subway count:  280

##### Taco Bell

In [63]:
tacobell = restaurants[restaurants['DBA'].str.contains('TACO BELL', na = False)]
tacobell['DBA'].unique()

array(['TACO BELL', 'KFC, TACO BELL', 'TACO BELL PIZZA HUT EXPRESS',
       "DUNKIN', PIZZA HUT, TACO BELL", 'TACO BELL PIZZA HUT',
       'TACO BELL, KFC', 'TACO BELL, PIZZA HUT EXPRESS',
       'TACO BELL/PIZZA HUT EXPRESS', 'TACO BELL AND PIZZA HUT',
       'KFC/TACO BELL', 'KFC AND TACO BELL', 'TACO BELL CANTINA',
       'TACO BELL CANTINA 034646', 'TACO BELL, PIATTINO, GREEN LEAFS',
       'TACO BELL # 35457'], dtype=object)

In [64]:
print("Taco Bell count: ", tacobell['DBA'].count())

Taco Bell count:  47

##### Chick-Fil-A

In [65]:
chickfila = restaurants[restaurants['DBA'].str.contains('CHICK-FIL-A', na = False)]
chickfila['DBA'].unique()

array(['CHICK-FIL-A AT 46TH & 6TH IN-LINE',
       'CHICK-FIL-A QUEENS CENTER MALL', 'CHICK-FIL-A AT GRAND CENTRAL',
       'CHICK-FIL-A AT FULTON STREET',
       'CHICK-FIL-A AT STATEN ISLAND MALL',
       'CHICK-FIL-A AT FULTON STREET IN-LINE', 'CHICK-FIL-A',
       'CHICK-FIL-A AT 711 LEXINGTON', 'CHICK-FIL-A AT 22ND & 6TH'],
      dtype=object)

In [66]:
print("Chick-Fil-A count: ", chickfila['DBA'].count())

Chick-Fil-A count:  10