In [102]:
import pandas as pd
import numpy as np

In [189]:
restaurants = pd.read_csv('NYC_RestaurantInspection_deduped.csv')
restaurants.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,30075445,MORRIS PARK BAKE SHOP,Bronx,1007,MORRIS PARK AVENUE,10462.0,7188924968,Bakery,11/04/2019,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Re-inspection,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37
1,30112340,WENDY'S,Brooklyn,469,FLATBUSH AVENUE,11225.0,7182875005,Hamburgers,10/27/2016,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Re-inspection,40.662652,-73.962081,309.0,40.0,32700.0,3029737.0,3.011970e+09,BK60
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,Manhattan,351,WEST 57 STREET,10019.0,2122452912,Irish,12/14/2017,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Re-inspection,40.767326,-73.984310,104.0,3.0,13900.0,1026048.0,1.010480e+09,MN15
3,40356018,RIVIERA CATERERS,Brooklyn,2780,STILLWELL AVENUE,11224.0,7183723031,American,11/08/2019,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Initial Inspection,40.579920,-73.982090,313.0,47.0,34800.0,3347399.0,3.069970e+09,BK21
4,40356483,WILKEN'S FINE FOOD,Brooklyn,7114,AVENUE U,11234.0,7184443838,Delicatessen,06/03/2017,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Initial Inspection,40.620112,-73.906989,318.0,46.0,70000.0,3237693.0,3.084310e+09,BK45

In [193]:
restaurants.shape

(26533, 26)

In [190]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26533 entries, 0 to 26532
Data columns (total 26 columns):
CAMIS                    26533 non-null int64
DBA                      26137 non-null object
BORO                     26533 non-null object
BUILDING                 26502 non-null object
STREET                   26530 non-null object
ZIPCODE                  26112 non-null float64
PHONE                    26531 non-null object
CUISINE DESCRIPTION      26533 non-null object
INSPECTION DATE          26533 non-null object
ACTION                   25211 non-null object
VIOLATION CODE           24639 non-null object
VIOLATION DESCRIPTION    24470 non-null object
CRITICAL FLAG            24470 non-null object
SCORE                    24171 non-null float64
GRADE                    20163 non-null object
GRADE DATE               19603 non-null object
RECORD DATE              26533 non-null object
INSPECTION TYPE          25211 non-null object
Latitude                 26467 non-null float64
Longitude                26467 non-null float64
Community Board          26049 non-null float64
Council District         26051 non-null float64
Census Tract             26051 non-null float64
BIN                      25937 non-null float64
BBL                      26467 non-null float64
NTA                      26049 non-null object
dtypes: float64(9), int64(1), object(16)
memory usage: 5.3+ MB

### Top Fast Food Chains (top 5)

https://www.qsrmagazine.com/content/ranking-top-50-fast-food-chains-america

McDonald's
Subway
Taco Bell
Chick-Fil-A
Wendy's
Burger King
KFC
Arby's
Popeyes

##### McDonald's

In [179]:
McDonalds = restaurants[restaurants['DBA'].str.contains('MCDONALD', case = False, na = False)]
McDonalds['DBA'].unique()

array(["MCDONALD'S", 'MCDONALD AVENUE DINER', 'MCDONALDS',
       'MCDONALDS RESTAURANT', "MCDONALD'S RESTAURANT", "McDonald's",
       "MCDONALD'S #3880", "MCDONALD'S #11542", "MCDONALD'S #13068",
       "MCDONALD'S #23105", 'MCDONALDS # 6160', 'MCDONALDS # 18093',
       'MCDONALDS 14520', "MCDONALD'S CORPORATION"], dtype=object)

In [180]:
print("McDonald's count: ", McDonalds['DBA'].count())

McDonald's count:  204

##### Domino's

In [199]:
dominos = restaurants[restaurants['DBA'].str.contains('DOMINO', case = False, na = False)]
dominos['DBA'].unique()

array(["DOMINO'S", "DOMINO'S PIZZA", 'DOMINOS PIZZA',
       "DOMINO'S PIZZA (#3321)", "Domino's Pizza", 'DOMINOS'],
      dtype=object)

In [200]:
print("Subway count: ", subway['DBA'].count())

Subway count:  269

##### Taco Bell

In [154]:
tacobell = restaurants[restaurants['DBA'].str.contains('TACO BELL', case = False, na = False)]
tacobell['DBA'].unique()

array(['TACO BELL', 'KFC, TACO BELL', 'TACO BELL PIZZA HUT EXPRESS',
       'TACO BELL, KFC', 'TACO BELL, PIZZA HUT EXPRESS',
       'TACO BELL/PIZZA HUT EXPRESS', 'TACO BELL AND PIZZA HUT',
       'KFC/TACO BELL', 'KFC AND TACO BELL', 'TACO BELL PIZZA HUT',
       'TACO BELL CANTINA', 'TACO BELL CANTINA 034646',
       'TACO BELL, PIATTINO, GREEN LEAFS', 'TACO BELL # 35457',
       'Taco Bell Cantina', 'TACO BELL CANTINA #036012'], dtype=object)

In [155]:
print("Taco Bell count: ", tacobell['DBA'].count())

Taco Bell count:  52

##### Chick-Fil-A

In [156]:
chickfila = restaurants[restaurants['DBA'].str.contains('CHICK-FIL-A', case = False, na = False)]
chickfila['DBA'].unique()

array(['CHICK-FIL-A QUEENS CENTER MALL', 'CHICK-FIL-A AT GRAND CENTRAL',
       'CHICK-FIL-A AT FULTON STREET',
       'CHICK-FIL-A AT STATEN ISLAND MALL', 'CHICK-FIL-A',
       'CHICK-FIL-A AT FULTON STREET IN-LINE',
       'CHICK-FIL-A AT 711 LEXINGTON', 'CHICK-FIL-A AT 22ND & 6TH'],
      dtype=object)

In [157]:
print("Chick-Fil-A count: ", chickfila['DBA'].count())

Chick-Fil-A count:  12

##### Wendy's

In [158]:
wendys = restaurants[restaurants['DBA'].str.contains('WENDY', case = False, na = False)]
wendys['DBA'].unique()

array(["WENDY'S", "WENDY'S RESTAURANT #108", "WENDY'S #2549", 'WENDYS'],
      dtype=object)

In [159]:
print("Wendy's count: ", wendys['DBA'].count())

Wendy's count:  46

##### Burger King

In [160]:
bk = restaurants[restaurants['DBA'].str.contains('BURGER KING', case = False, na = False)]
bk['DBA'].unique()

array(['BURGER KING', 'BURGER KING, POPEYES', 'BURGER KING/CINNABON',
       'Burger King', 'POPEYES/BURGER KING'], dtype=object)

In [161]:
print("Wendy's count: ", wendys['DBA'].count())

Wendy's count:  46

##### KFC

In [162]:
kfc = restaurants[restaurants['DBA'].str.contains('KFC', case = False, na = False)]
kfc['DBA'].unique()

array(['KFC, TACO BELL', 'TACO BELL, KFC', 'KFC', 'KFC/TACO BELL',
       'KFC AND TACO BELL', 'KENTUCKY FRIED CHICKEN (KFC)'], dtype=object)

In [163]:
print("KFC count: ", kfc['DBA'].count())

KFC count:  39

##### Arby's

In [164]:
arbys = restaurants[restaurants['DBA'].str.contains('ARBY', case = False, na = False)]
arbys['DBA'].unique()

array(["ARBY'S"], dtype=object)

In [165]:
print("Arby's count: ", arbys['DBA'].count())

Arby's count:  4

##### Popeyes

In [206]:
popeyes = restaurants[restaurants['DBA'].str.contains('POPEYE', case = False, na = False)]
popeyes['DBA'].unique()

array(['POPEYES/DUNKIN DONUTS', 'POPEYES', 'BURGER KING, POPEYES',
       'POPEYES LOUISANA KITCHEN', "DUNKIN', BASKIN ROBBINS, POPEYES",
       'POPEYES LOUISIANA KITCHEN', "NATHAN'S, POPEYES",
       'DUNKIN, POPEYES', 'POPEYES/BURGER KING',
       'POPEYES LOUSIANA KICTHEN', "POPEYE'S LOUISIANA KITCHEN",
       "POPEYE'S CHICKEN & BISCUITS"], dtype=object)

In [207]:
print("Popeyes count: ", popeyes['DBA'].count())

Popeyes count:  110

#### Make a copy of restaurant df to make fast food df

In [194]:
FastFood_df = restaurants.copy()
FastFood_df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,30075445,MORRIS PARK BAKE SHOP,Bronx,1007,MORRIS PARK AVENUE,10462.0,7188924968,Bakery,11/04/2019,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Re-inspection,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37
1,30112340,WENDY'S,Brooklyn,469,FLATBUSH AVENUE,11225.0,7182875005,Hamburgers,10/27/2016,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Re-inspection,40.662652,-73.962081,309.0,40.0,32700.0,3029737.0,3.011970e+09,BK60
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,Manhattan,351,WEST 57 STREET,10019.0,2122452912,Irish,12/14/2017,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Re-inspection,40.767326,-73.984310,104.0,3.0,13900.0,1026048.0,1.010480e+09,MN15
3,40356018,RIVIERA CATERERS,Brooklyn,2780,STILLWELL AVENUE,11224.0,7183723031,American,11/08/2019,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Initial Inspection,40.579920,-73.982090,313.0,47.0,34800.0,3347399.0,3.069970e+09,BK21
4,40356483,WILKEN'S FINE FOOD,Brooklyn,7114,AVENUE U,11234.0,7184443838,Delicatessen,06/03/2017,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Initial Inspection,40.620112,-73.906989,318.0,46.0,70000.0,3237693.0,3.084310e+09,BK45

In [195]:
FastFood_df.shape

(26533, 26)

Create of a list of values to search for

In [208]:
search_values = ['MACDONLD','DOMINO', 'TACO BELL', 'CHICK-FIL-A', 'WENDY', 
                 'BURGER KING', 'KFC', 'ARBY', 'POPEYE']

In [216]:
FastFood_df = FastFood_df[FastFood_df.DBA.str.contains('|'.join(search_values), case = False, na = False)]
FastFood_df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
1,30112340,WENDY'S,Brooklyn,469,FLATBUSH AVENUE,11225.0,7182875005,Hamburgers,10/27/2016,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Re-inspection,40.662652,-73.962081,309.0,40.0,32700.0,3029737.0,3.011970e+09,BK60
26,40363945,DOMINO'S,Manhattan,148,WEST 72 STREET,10023.0,2125010200,Pizza,08/20/2019,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Re-inspection,40.778074,-73.980401,107.0,6.0,15700.0,1081483.0,1.011430e+09,MN14
222,40370167,BURGER KING,Queens,22210,NORTHERN BOULEVARD,11361.0,7182251695,Hamburgers,10/31/2019,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Re-inspection,40.761859,-73.759199,411.0,19.0,147100.0,4160989.0,4.074740e+09,QN46
224,40370238,BURGER KING,Queens,6815,NORTHERN BOULEVARD,11377.0,7187794875,Hamburgers,03/28/2018,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Initial Inspection,40.754252,-73.897818,403.0,25.0,30902.0,4026245.0,4.011640e+09,QN28
233,40370916,BURGER KING,Queens,25810,HILLSIDE AVENUE,11004.0,7183476880,Hamburgers,09/21/2017,Violations were cited in the following area(s).,...,05/16/2020,Cycle Inspection / Initial Inspection,40.736974,-73.709922,413.0,23.0,157903.0,4179815.0,4.087880e+09,QN44

In [217]:
FastFood_df.shape

(435, 26)

In [218]:
FastFood_df.to_csv('TopFastFood_Inspections.csv', index = False)